.totalBalance {
  width: 395px;
  height: 80px;
  background: #ffffff;
  border-radius: 30px;
}

@media only screen and (max-width: 768px) {
  .totalBalance {
    width: 336px;
    height: 80px;
  }
}

@media only screen and (max-width: 480px) {
  .totalBalance {
    width: 280px;
    height: 80px;
  }
}

.totalBalanceNumber {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}

.totalBalanceTitle {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;

  color: #a6a6a6;
}
