body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

li.disabled a {
  color: #bdbdbd;
}

li.disable,
li.disabled a {
  cursor: default;
}

li.page-item {
  width: 35px;
  height: 35px;
}

.activePagination {
  font-weight: 900;
  color: #ff6596;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/circe/circe400.eot");
  src: url("./assets/fonts/circe/circe400.eot") format("embedded-opentype"),
    url("./assets/fonts/circe/circe400.woff2") format("woff2"),
    url("./assets/fonts/circe/circe400.woff") format("woff"),
    url("./assets/fonts/circe/circe400.ttf") format("truetype"),
    url("./assets/fonts/circe/circe400.svg#circe400") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/circe/circe700.eot");
  src: url("./assets/fonts/circe/circe700.eot") format("embedded-opentype"),
    url("./assets/fonts/circe/circe700.woff2") format("woff2"),
    url("./assets/fonts/circe/circe700.woff") format("woff"),
    url("./assets/fonts/circe/circe700.ttf") format("truetype"),
    url("./assets/fonts/circe/circe700.svg#circe700") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/poppins/poppins400.eot");
  src: url("./assets/fonts/poppins/poppins400.eot") format("embedded-opentype"),
    url("./assets/fonts/poppins/poppins400.woff2") format("woff2"),
    url("./assets/fonts/poppins/poppins400.woff") format("woff"),
    url("./assets/fonts/poppins/poppins400.ttf") format("truetype"),
    url("./assets/fonts/poppins/poppins400.svg#poppins400") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/poppins/poppins700.eot");
  src: url("./assets/fonts/poppins/poppins700.eot") format("embedded-opentype"),
    url("./assets/fonts/poppins/poppins700.woff2") format("woff2"),
    url("./assets/fonts/poppins/poppins700.woff") format("woff"),
    url("./assets/fonts/poppins/poppins700.ttf") format("truetype"),
    url("./assets/fonts/poppins/poppins700.svg#poppins700") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/poppins/poppins400.eot");
  src: url("./assets/fonts/poppins/poppins400.eot") format("embedded-opentype"),
    url("./assets/fonts/poppins/poppins400.woff2") format("woff2"),
    url("./assets/fonts/poppins/poppins400.woff") format("woff"),
    url("./assets/fonts/poppins/poppins400.ttf") format("truetype"),
    url("./assets/fonts/poppins/poppins400.svg#poppins400") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/poppins/poppins700.eot");
  src: url("./assets/fonts/poppins/poppins700.eot") format("embedded-opentype"),
    url("./assets/fonts/poppins/poppins700.woff2") format("woff2"),
    url("./assets/fonts/poppins/poppins700.woff") format("woff"),
    url("./assets/fonts/poppins/poppins700.ttf") format("truetype"),
    url("./assets/fonts/poppins/poppins700.svg#poppins700") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/montserrat/montserrat400.eot");
  src: url("./assets/fonts/montserrat/montserrat400.eot")
      format("embedded-opentype"),
    url("./assets/fonts/montserrat/montserrat400.woff2") format("woff2"),
    url("./assets/fonts/montserrat/montserrat400.woff") format("woff"),
    url("./assets/fonts/montserrat/montserrat400.ttf") format("truetype"),
    url("./assets/fonts/montserrat/montserrat400.svg#poppins400") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/montserrat/montserrat700.eot");
  src: url("./assets/fonts/montserrat/montserrat700.eot")
      format("embedded-opentype"),
    url("./assets/fonts/montserrat/montserrat700.woff2") format("woff2"),
    url("./assets/fonts/montserrat/montserrat700.woff") format("woff"),
    url("./assets/fonts/montserrat/montserrat700.ttf") format("truetype"),
    url("./assets/fonts/montserrat/montserrat700.svg#montserrat700")
      format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
